# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/bin/dist
/bin/tmp
/bin/out-tsc

# dependencies
/bin/node_modules

# IDEs and editors
/bin/.idea
/bin/.project
/bin/.classpath
/bin/.c9/
/bin/*.launch
/bin/.settings/
/bin/*.sublime-workspace

# IDE - VSCode
/bin/.vscode/*
/bin/!.vscode/settings.json
/bin/!.vscode/tasks.json
/bin/!.vscode/launch.json
/bin/!.vscode/extensions.json

# misc
/bin/.sass-cache
/bin/connect.lock
/bin/coverage
/bin/libpeerconnection.log
/bin/npm-debug.log
/bin/testem.log
/bin/typings
/bin/yarn-error.log

# e2e
/bin/e2e/*.js
/bin/e2e/*.map

# System Files
/bin/.DS_Store
/bin/Thumbs.db
