<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" (click)="showMenu = !showMenu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mis tarjetas activas</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="navbar-collapse" id="menu-principal" [ngClass]="{ 'collapse': !showMenu }">

      <div class="navbar-form navbar-right">

        <select *ngIf="this.organizations.length > 0" class="form-control" (change)="filterByOrganization( $event.srcElement.value )">

            <option value="" selected>Todos</option>
            <option value="_personal">Sin Grupo</option>

          <optgroup label="Organizaciones">
              <option *ngFor="let organization of organizations | orderBy: 'displayName'" value="{{ organization.id }}">{{ organization.displayName }}</option>
          </optgroup>
        </select>

        <button class="btn btn-default" (click)="importCards()">Traer tarjetas!</button>

      </div>

      <ul class="nav navbar-nav navbar-left">
        <li *ngIf="this.cards.length > 0">
          <p class="navbar-text">Tenés <b>{{ this.getCards().length }}</b> tarjetas asignadas</p>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container" id="tabla">
  <div class="row">
    <div class="col-xs-12">
      <div class="scroll">
        <table *ngIf="cards && cards.length > 0" class="table">
          <thead>
            <tr>
              <th>
                <span>Nombre</span>
                <div class="btn-group btn-group-xs" role="group">
                  <button class="btn btn-default" (click)="sortCardsDesc()">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                  </button>
                  <button class="btn btn-default" (click)="sortCardsAsc()">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                  </button>
                </div>
              </th>
              <th>Etiquetas</th>
              <th>
                <span>Nombre</span>
                <div class="btn-group btn-group-xs" role="group">
                  <button class="btn btn-default" (click)="sortOrg ( true )">
                    <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                  </button>
                  <button class="btn btn-default" (click)="sortOrg( false )">
                    <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                  </button>
                </div>
              </th>
              <th>
                <span>Tablero</span>
                  <div class="btn-group btn-group-xs" role="group">
                    <button class="btn btn-default" (click)="sortBoardDesc()">
                      <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default" (click)="sortBoardAsc()">
                      <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                    </button>
                  </div>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let card of getCards()">
              <td><a target="_blank" href="{{ card.shortUrl }}">{{ card.name }}</a></td>
              <td><p *ngFor="let label of card.labels.sort()" class="label label-default" [ngStyle]="{ 'background-color': getLabelColor( label.color ) }">{{ label.name }}</p></td>
              <td><span *ngIf="getOrganizationByCardID( card.idBoard ) !== undefined">{{ getOrganizationByCardID( card.idBoard ).displayName }}</span></td>
              <td><span *ngIf="getBoardByID( card.idBoard ) !== null">{{ getBoardByID( card.idBoard ).name }}</span></td>
              <td><span>{{ card.status }}</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
